!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Devise
    = stylesheet_link_tag    "/assets/bootstrap.min.css"
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    = stylesheet_link_tag    "/assets/users.css"


    -#= javascript_include_tag "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
    = javascript_include_tag "application", "data-turbolinks-track" => true

    = csrf_meta_tags

    = yield
